Old-Version/Thesis/
*.png
.ipynb_checkpoints
Old-Version/Hard-Silhouette-2D-example.ipynb
Old-Version/datasets/MNIST
Old-Version/datasets/Wine
Old-Version/datasets/Iris
Old-Version/datasets/Olivetti-Faces
Old-Version/datasets/Pendigits
Old-Version/datasets/FashionMNIST
Old-Version/datasets/FashionMNIST_5
Old-Version/datasets/Synthetic
Old-Version/datasets/Australian
Old-Version/datasets/Dermatology
Old-Version/datasets/Ecoli
Old-Version/datasets/10x_73k
Datasets/EMNIST
Datasets/Pendigits
Results/
__pycache__
Datasets/*/
PyTorch-Radial-Basis-Function-Layer-master
